torch >= 1.13
transformers >= 4.37.2, < 5.0.0
datasets
tokenizers >= 0.13.3, < 0.22.0
accelerate
deepspeed
numpy
scipy
sentencepiece
wandb
tensorboard
optree
matplotlib
tqdm
rich
detoxify
trl == 0.11.4
peft
